<div>
  <h1>All posts</h1>
</div>
<div class="indexForm row">
  {{#each posts}}
  <div class="card m-3" style="width: 18rem;" id="aa{{this.id}}">
    <div class="card-body" data-postid="{{this.id}}">
      <h5 class="card-title">User - {{this.User.name}}</h5>
      <h5 class="card-title">Post - {{this.id}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">-------</h6>
      <p class="card-text">{{this.title}}</p>
      {{!-- {{#if user}} --}}
      {{#if (checkUser ../user.id this.user_id)}}
      <a id="update" class="card-link" href="/updatePost/{{this.id}}">update post</a>
      <a id="del"   class="card-link">delete post</a>
      {{/if}}
      {{!-- {{else}}
      <div> not registration, not delete for you</div>
      {{/if}}  --}}
      {{!-- <a href="#" class="card-link">Another link</a> --}}
    </div>
  </div>
  {{/each}}
</div>
